
<div class="container" >
  <div class="card">
    <div class="main-info">
      <h5 class="title">{{species.name}} </h5>
      <p class="about">{{species.designation}}</p>
    </div>
    <div class="additional-info">
      <h5 class="title">Characters</h5>
      <div class="info">
        <span></span>
        <span></span>
      </div>
      <h5 class="title">Species</h5>
      <div class="info">
        <span></span>
        <span></span>
      </div>
    </div>
    
    <div class="additional-info">
      <div class="participants-info">
        <div class="about">
          <p>Classification:</p>
          <h5>{{species.classification}}</h5>
        </div>
        
        <div class="about">
          <p>Height:</p>
          <h5>{{species.average_height}}</h5>
        </div>
        
        <div class="about">
          <p>Year:</p>
          <h5>1999</h5>
        </div>
        
      </div>
      <h5 class="title">Starships</h5>
      <div class="info">
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</div>