
<div class="container" >
  <div class="card">
    <div class="main-info">
      <h5 class="title">{{vehicle.name}} </h5>
      <p class="about">{{vehicle.manufacturer}}</p>
    </div>
    <div class="additional-info">
      <h5 class="title">Characters</h5>
      <div class="info">
        <span></span>
        <span></span>
      </div>
      <h5 class="title">Species</h5>
      <div class="info">
        <span></span>
        <span></span>
      </div>
    </div>
    
    <div class="additional-info">
      <div class="participants-info">
        <div class="about">
          <p>Crew:</p>
          <h5>{{vehicle.crew}}</h5>
        </div>
        
        <div class="about">
          <p>Consumables:</p>
          <h5>{{vehicle.consumables}}</h5>
        </div>
        
        <div class="about">
          <p>Year:</p>
          <h5>1999</h5>
        </div>
        
      </div>
      <h5 class="title">Starships</h5>
      <div class="info">
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</div>