
<div class="container" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
  <div class="card">
    <p class="card-title">{{character.name}}</p>
    <div class="card-info">
      <div class="additional-info" style="margin-bottom: 16px;">
        <div class="info-wrapper">
          <p class="info-title">Height:</p>
          <p class="info">{{character.height}}</p>
        </div>
        <div class="info-wrapper">
          <p class="info-title">Mass:</p>
          <p class="info">{{character.mass | uppercase}}</p>
        </div>
        <div class="info-wrapper">
          <p class="info-title">Hair:</p>
          <p class="info">{{character.hair_color | uppercase}}</p>
        </div>
        <div class="info-wrapper">
          <p class="info-title">Skin:</p>
          <p class="info">{{character.skin_color | uppercase}}</p>
        </div>
        <div class="info-wrapper">
          <p class="info-title">Eye:</p>
          <p class="info">{{character.eye_color | uppercase}}</p>
        </div>
      </div>
      
      <div class="info">
        <div class="info-wrapper">
          <p class="info-title">Gender:</p>
          <p class="info">{{character.gender | uppercase}}</p>
        </div>
        <div class="info-wrapper">
          <p class="info-title">Species:</p>
          <p class="info"></p>
        </div>
        <div class="info-wrapper">
          <p class="info-title">Homeworld:</p>
          <p class="info"></p>
        </div>
      </div>
      
      <p class="title">Films</p>
      <ul class="list">
        <li>Film 1</li>
        <li>Film 1</li>
        <li>Film 1</li>
        <li>Film 1</li>
        <li>Film 1</li>
        <li>Film 1</li>
      </ul>
      
      <p class="title">Starships</p>
      <ul class="list">
        <li>Film 1</li>
        <li>Film 1</li>
        <li>Film 1</li>
        <li>Film 1</li>
        <li>Film 1</li>
        <li>Film 1</li>
      </ul>
      
      <p class="title">Vehicles</p>
      <ul class="list">
        <li>Film 1</li>
        <li>Film 1</li>
        <li>Film 1</li>
        <li>Film 1</li>
        <li>Film 1</li>
        <li>Film 1</li>
      </ul>
    </div>
  </div>
</div>