
<div class="container" >
  <div class="card">
    <div class="main-info">
      <h5 class="title">{{planet.name}} </h5>
      <p class="about">{{planet.terrain}}</p>
    </div>
    <div class="additional-info">
      <h5 class="title">Characters</h5>
      <div class="info">
        <span></span>
        <span></span>
      </div>
      <h5 class="title">Species</h5>
      <div class="info">
        <span></span>
        <span></span>
      </div>
    </div>
    
    <div class="additional-info">
      <div class="participants-info">
        <div class="about">
          <p>Climate:</p>
          <h5>{{planet.climate}}</h5>
        </div>
        
        <div class="about">
          <p>Diameter:</p>
          <h5>{{planet.diameter}}</h5>
        </div>
        
        <div class="about">
          <p>Year:</p>
          <h5>1999</h5>
        </div>
        
      </div>
      <h5 class="title">Starships</h5>
      <div class="info">
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</div>